.container
  .center
    %h1 Информационная система объектов инфраструктуры городского округа Домодедово
    = image_tag 'logodom.png', alt: t('app.company.short_name')
    %br
    %h2 Чтобы приступить к работе выберите категорию на панели справа
 

